*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(11, 225, 79);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: 'Alfa Slab One';
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-style:italic;

}
